:root{
    --color1: rgb(245, 185, 185);
    --color2: rgb(255, 0, 0);
    --color3: rgb(150, 0, 0);
    --color4: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ::selection="Allow to change properties when the user highlight text"  at the bottom */
*::selection{
    color: var(--color4);
    background-color: var(--color3);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./Assets_n2/img/lost-places-597166_1920.jpg) center/cover;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--color1);
}

h6{
    margin: 20px ;
    font-size: 1rem;
    text-align: center;
    color: var(--color2);
}

.grid-container{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 20% 80%;
}

.polygon-container{
    background: linear-gradient(145deg, black 0%, rgb(100, 0, 0) 40%, var(--color2) 60%);
    /* Info=The "linear-gradient" will learn step by step :) */
    border-radius: 5px;
}

.shadow-polygon{
    /* Info=Put a "height: 100%;" to give his polygon child an existence form at the bottom */
    height: 100%;
    /* Warning=Unlike usual, the only way to give shadow to your polygon is to go from its respective parent . See at the bottom */
    filter: drop-shadow(7px 0px 1px rgb(255, 255, 255));
}

.shadow-polygon::after{
    content: "\2620 Do you wanna die? \2620";
    color: var(--color2);
    background: var(--color1);
    font-size: 15px;
    width: 80%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(-10deg);
    text-align: center;
}

/* Info=See how  it work thanks to "bennettfeely.com" at the bottom of the website */
.polygon{
    background: url(./Assets_n2/img/halloween-7479975_640.jpg) top/cover;
    min-height: 340px;
    clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
    height: 100%;
    /* Info=Don't forget the "height", otherwise it doesn't work */
}

.txt-container{
    padding:  0 10px;
    /* place-self="To work, the parent must  be grid's cell by nature" at the bottom */
    place-self: center;
    /* line-height="Margin in height between text" at the bottom */
    line-height: 35px;
    /* Info=To create a line limit with the rest hidden, follow this 4 instructions at the bottom: */
    display: -webkit-box;
    -webkit-box-orient:  vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    /* justify="Can space words tidiest like a word projet" at the bottom */
    text-align: justify;
}

input{
    margin-bottom: 20px;
}

.checkbox-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

input[type="checkbox"]{
    display: none;
}

/* :checked="Allow to change properties when the user click onto checkbox"  at the bottom */
input[type="checkbox"]:checked + label {
    /* Info=At the top, " + " mean same properties together and element individual WHEREAS " ~ " mean same properties together and all elements same time */
    border: 1px solid var(--color3);
    color: rgb(255, 255, 255);
    background: var(--color1);
    transform: scale(1.2);
}

label{
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid var(--color4);
    padding: 10px;
    color: var(--color1);
    background: white;
    border-radius: 20px;
    /* Info=To made a good transition enter/out, always put it on the main element! */
    transition: 0.5s;
}

ul{
    margin-top: 2rem;
    font-family: Bloodlust;
    text-transform: uppercase;
    font-size: 25px;
    color: var(--color2);
    word-spacing: 5px;
}

#ref{
    text-decoration-line: none;
    color: var(--color3);
}

.card{
    background-color: rgb(112, 114, 110, 0.4);
    /* backdrop-filter= "To render a blurry background" at the bottom */
    backdrop-filter: blur(1px);
    padding: 20px 40px 5px;
    border-radius: 50px;
    width: calc(100% - 50px);
    /* calc= "calculation" at the top */
}

.card:before{
    content: 'I am the 1st for class="card" \2734';
}

.card:after{
    content: 'I am the last for class="card" \2734';
}